.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  position: absolute;
  right: 0;
  top: 45px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    background-size: contain;
    width: 18px;
    height: 18px;
    top: 154px;
    right: 32px;
  }
}
