.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 50px;
    width: 100%;
    height: 120px;
}

@media screen and (max-width: 900px) {
  .profile {
    width: calc(100% - 19px*2);
  }
}


@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    height: 286px;
  }
}
