.profile__subtitle {
  grid-area: jobinfo;
  margin: 0;
  padding: 9px 2px 0;
  justify-self: start;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #FFFFFF;
}

@media screen and (max-width: 672px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
    justify-self: center;
    margin: 5px;
  }
}

