.profile__title {
    grid-area: username;
    justify-self: start;
    margin: 0;
    padding: 22px 0 0;

    font-weight: 500;
    font-size: 42px;
    color: #FFFFFF;
}

@media screen and (max-width: 672px) {
  .profile__title {
    height: 38px;
    width: 201px;
    font-size: 27px;
    line-height: 207%;
    margin: 14px 10px 14px 0;
    padding: 0;
    justify-self: end;
  }
}
