.popup__input-field {
  font-family: inherit;
  width: 358px;
  height: 27.26px;
  margin: 0 36px 30px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  opacity: none;
}

input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}


input::-moz-placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: black;
  }


input::-ms-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
