.popup__input-field_error {
  position: absolute;
  width: 358px;
  height: 25px;
  margin: 0 0 0 36px;
  color: red;
  display: block;
  box-sizing: border-box;
  text-align: start;

  -ms-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  transform: translateY(-100%);
}

@media screen and (max-width: 575px) {
  .popup__input-field_error {
    width: calc(100% - 30px*2);
    margin: 0 30px 10px;
    transform: translateY(-20%);
    -ms-transform: translate(-20%);
    -webkit-transform: translate(-20%);
  }
}
