.profile__info {
  width: 486px;
  height: 120px;
  position: relative;
}

@media screen and (max-width: 660px) {
  .profile__info {
    margin: 0 auto;
    height: 200px;
    width: 282px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
